@{
    ViewBag.Title = "About";
}
<div class="container">
    <div class="bg-faded p-4 my-4">
        <hr class="divider">
        <h2 class="text-center text-lg text-uppercase my-0">
            About
            <strong>Homespun Classics</strong>
        </h2>
        <hr class="divider">
        <div class="row">
            
            <div class="col-lg-12">
                <p>Homespun Classics is a small home-based business that operates in the Kansas City Metro Area. We primarily
                sell custom knit, crochet, or sewn items. We specialize in t-shirt quilts and custom embroidery. Homespun Classics
                also sells custom baby blankets, headbands, bows and more. If you would like to commission an item, please 
                <a href="~/Home/Contact">contact us</a>!</p>
            </div>
        </div>
    </div>
</div>
